{# Name field #}
<div class="form-group">
    <label for="name">Dispositivo</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Dispositivo" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Model field #}
<div class="form-group">
    <label for="model">Modelo</label>
    <select name="model"
            class="form-control {% if form.model.errors %} is-invalid {% endif %}"
            id="model">
        <option>--- Seleccione una opción ---</option>
        {% for model in models %}
            <option value="{{ model.pk }}" {% if model.pk|slugify == old_model|slugify %}
                    selected {% endif %}>
                {{ model.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.model.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Device Type field #}
<div class="form-group">
    <label for="device_type">Tipo de dispositivos</label>
    <select name="device_type"
            class="form-control {% if form.device_type.errors %} is-invalid {% endif %}"
            id="device_type">
        <option>--- Seleccione una opción ---</option>
        {% for device_type in device_types %}
            <option value="{{ device_type.pk }}" {% if device_type.pk|slugify == old_device_type|slugify %}
                    selected {% endif %}>
                {{ device_type.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.device_type.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Serie field #}
<div class="form-group">
    <label for="serie">Serie</label>
    <input type="text"
           class="form-control {% if form.serie.errors %} is-invalid {% endif %}"
           name="serie" placeholder="Serie" id="serie"
           value="{{ serie }}">

    <div class="invalid-feedback">
        {% for error in form.serie.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>