{# Subnet field #}
<div class="form-group">
    <label for="subnet">Subnet</label>
    <input type="text"
           class="form-control {% if form.subnet.errors %} is-invalid {% endif %}"
           name="subnet" placeholder="Subnet" id="subnet"
           value="{{ subnet }}">

    <div class="invalid-feedback">
        {% for error in form.subnet.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Subnet Group field #}
<div class="form-group">
    <label for="subnet_group">Grupo Subnet</label>
    <select name="subnet_group"
            class="form-control {% if form.subnet_group.errors %} is-invalid {% endif %}"
            id="subnet_group">
        <option>--- Seleccione una opción ---</option>
        {% for subnet_group in subnet_groups %}
            <option value="{{ subnet_group.pk }}" {% if subnet_group.pk|slugify == old_subnet_group|slugify %}
                    selected {% endif %}>
                {{ subnet_group.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.subnet_group.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# State field #}
<div class="form-group">
    <label for="state">Estado</label>
    <input type="text"
           class="form-control {% if form.state.errors %} is-invalid {% endif %}"
           name="state" placeholder="Estado" id="state"
           value="{{ state }}">

    <div class="invalid-feedback">
        {% for error in form.state.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Description field #}
<div class="form-group">
    <label for="description">Descripción</label>
    <input type="text"
           class="form-control {% if form.description.errors %} is-invalid {% endif %}"
           name="description" placeholder="Descripción" id="description"
           value="{{ description }}">

    <div class="invalid-feedback">
        {% for error in form.description.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>