{# Name field #}
<div class="form-group">
    <label for="name">Inversor</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Inversor" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Brand field #}
<div class="form-group">
    <label for="brand">Marca</label>
    <select name="brand"
            class="form-control {% if form.brand.errors %} is-invalid {% endif %}"
            id="brand">
        <option>--- Seleccione una opción ---</option>
        {% for brand in brands %}
            <option value="{{ brand.pk }}" {% if brand.pk|slugify == old_brand|slugify %}
                    selected {% endif %}>
                {{ brand.maker }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.brand.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Node field #}
<div class="form-group">
    <label for="node">Nodo</label>
    <select name="node"
            class="form-control {% if form.node.errors %} is-invalid {% endif %}"
            id="node">
        <option>--- Seleccione una opción ---</option>
        {% for node in nodes %}
            <option value="{{ node.pk }}" {% if node.pk|slugify == old_node|slugify %}
                    selected {% endif %}>
                {{ node.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.node.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Installed_at field #}
<div class="form-group">
    <label for="installed_at">Fecha de instalación</label>
    <input type="date"
           class="form-control {% if form.installed_at.errors %} is-invalid {% endif %}"
           name="installed_at" id="installed_at"
           value="{{ installed_at }}">

    <div class="invalid-feedback">
        {% for error in form.installed_at.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>