{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de vlans</h4>

                {% include 'shared/_button-new.html' with btnText='Nuevo vlan' btnUrl='networks:vlan.store'  %}

                {% include 'networks/vlans/partials/_filters.html' %}

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Vlan ID</th>
                            <th>Nombre</th>
                            <th>Grupo</th>
                            <th>Dispositivo</th>
                            <th>Descripción</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vlan in vlans %}
                            <tr>
                                <td>{{ vlan.vlan_id }}</td>
                                <td>{{ vlan.name }}</td>
                                <td>{{ vlan.vlan_group.name }}</td>
                                <td>{{ vlan.device.name }}</td>
                                <td>{{ vlan.description }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-sm dropdown-toggle"
                                                type="button"
                                                id="action-{{ vlan.name }}"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="mdi mdi-login-variant icon-btn-sm"></i> Acción
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="action-{{ vlan.name }}">
                                            <a class="dropdown-item btn-edit"
                                               href="{% url 'networks:vlan.update' pk=vlan.id %}">
                                                <i class="mdi mdi-pencil"></i> Editar
                                            </a>

                                            <a class="dropdown-item btn-eliminar"
                                               href="{% url 'networks:vlan.delete' pk=vlan.id %}">
                                                <i class="mdi mdi-delete-forever"></i> Eliminar
                                            </a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% include 'shared/_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/delete.js' %}"></script>
{% endblock %}
