{# Name field #}
<div class="form-group">
    <label for="name">Rack</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Rack" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# RackType field #}
<div class="form-group">
    <label for="rack_type">Tipo de rack</label>
    <select name="rack_type"
            class="form-control {% if form.rack_type.errors %} is-invalid {% endif %}"
            id="rack_type">
        <option>--- Seleccione una opción ---</option>
        {% for rack_type in rack_types %}
            <option value="{{ rack_type.pk }}" {% if rack_type.pk|slugify == old_rack_type|slugify %}
                    selected {% endif %}>
                {{ rack_type.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.rack_type.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Brand field #}
<div class="form-group">
    <label for="brand">Marca</label>
    <select name="brand"
            class="form-control {% if form.brand.errors %} is-invalid {% endif %}"
            id="brand">
        <option>--- Seleccione una opción ---</option>
        {% for brand in brands %}
            <option value="{{ brand.pk }}" {% if brand.pk|slugify == old_brand|slugify %}
                    selected {% endif %}>
                {{ brand.maker }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.brand.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Node field #}
<div class="form-group">
    <label for="node">Nodo</label>
    <select name="node"
            class="form-control {% if form.node.errors %} is-invalid {% endif %}"
            id="node">
        <option>--- Seleccione una opción ---</option>
        {% for node in nodes %}
            <option value="{{ node.pk }}" {% if node.pk|slugify == old_node|slugify %}
                    selected {% endif %}>
                {{ node.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.node.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Hight field #}
<div class="form-group">
    <label for="hight">Altura</label>
    <input type="text"
           class="form-control {% if form.hight.errors %} is-invalid {% endif %}"
           name="hight" placeholder="Altura" id="hight"
           value="{{ hight }}">

    <div class="invalid-feedback">
        {% for error in form.hight.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Width field #}
<div class="form-group">
    <label for="width">Anchura</label>
    <input type="text"
           class="form-control {% if form.width.errors %} is-invalid {% endif %}"
           name="width" placeholder="Altura" id="width"
           value="{{ width }}">

    <div class="invalid-feedback">
        {% for error in form.width.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
