{# Maker field #}
<div class="form-group">
    <label for="maker">Fabricante</label>
    <input type="text"
           class="form-control {% if form.maker.errors %} is-invalid {% endif %}"
           name="maker" placeholder="Marca" id="maker"
           value="{{ maker }}">

    <div class="invalid-feedback">
        {% for error in form.maker.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Description field #}
<div class="form-group">
    <label for="description">Descripción</label>
    <input type="text"
           class="form-control {% if form.description.errors %} is-invalid {% endif %}"
           name="description" placeholder="Descripción" id="description"
           value="{{ description }}">

    <div class="invalid-feedback">
        {% for error in form.description.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>