{# Name field #}
<div class="form-group">
    <label for="name">Modelo</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Modelo" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Brand field #}
<div class="form-group">
    <label for="brand">Marca</label>
    <select name="brand"
            class="form-control {% if form.brand.errors %} is-invalid {% endif %}"
            id="brand">
        <option>--- Seleccione una opción ---</option>
        {% for brand in brands %}
            <option value="{{ brand.pk }}" {% if brand.pk|slugify == old_brand|slugify %}
                    selected {% endif %}>
                {{ brand.maker }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.brand.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Description field #}
<div class="form-group">
    <label for="description">Descripción</label>
    <input type="text"
           class="form-control {% if form.description.errors %} is-invalid {% endif %}"
           name="description" placeholder="Descripción" id="description"
           value="{{ description }}">

    <div class="invalid-feedback">
        {% for error in form.description.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>