{# Name field #}
<div class="form-group">
    <label for="name">Tipo</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Tipo" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# URS field #}
<div class="form-group">
    <label for="urs">Cantidad de URs</label>
    <input type="text"
           class="form-control {% if form.urs.errors %} is-invalid {% endif %}"
           name="urs" placeholder="Cantidad de URS" id="urs"
           value="{{ urs }}">

    <div class="invalid-feedback">
        {% for error in form.urs.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Color field #}
<div class="form-group">
    <label for="color">Color</label>
    <input type="text"
           class="form-control {% if form.color.errors %} is-invalid {% endif %}"
           name="color" placeholder="Color" id="color"
           value="{{ color }}">

    <div class="invalid-feedback">
        {% for error in form.color.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>