{# Technology field #}
<div class="form-group">
    <label for="technology">Tecnología</label>
    <select name="technology"
            class="form-control {% if form.technology.errors %} is-invalid {% endif %}"
            id="technology">
        <option>--- Seleccione una opción ---</option>
        {% for technology in technologies %}
            <option value="{{ technology.pk }}" {% if technology.pk|slugify == old_technology|slugify %}
                    selected {% endif %}>
                {{ technology.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.technology.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Name field #}
<div class="form-group">
    <label for="name">Modelo</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Modelo" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Memory field #}
<div class="form-group">
    <label for="memory">Memoria (MB)</label>
    <input type="text"
           class="form-control {% if form.memory.errors %} is-invalid {% endif %}"
           name="memory" placeholder="Memoria" id="memory"
           value="{{ memory }}">

    <div class="invalid-feedback">
        {% for error in form.memory.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Número de interfaz field #}
<div class="form-group">
    <label for="interface_amount">Número de interfaz</label>
    <input type="text"
           class="form-control {% if form.interface_amount.errors %} is-invalid {% endif %}"
           name="interface_amount" placeholder="Número de interfaz" id="interface_amount"
           value="{{ interface_amount }}">

    <div class="invalid-feedback">
        {% for error in form.interface_amount.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Arquitectura field #}
<div class="form-group">
    <label for="architecture">Arquitectura</label>
    <input type="text"
           class="form-control {% if form.architecture.errors %} is-invalid {% endif %}"
           name="architecture" placeholder="Arquitectura" id="architecture"
           value="{{ architecture }}">

    <div class="invalid-feedback">
        {% for error in form.architecture.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>
