{# Dirección IP field #}
<div class="form-group">
    <label for="address">Dirección IP</label>
    <input type="text"
           class="form-control {% if form.address.errors %} is-invalid {% endif %}"
           name="address" placeholder="Dirección IP" id="address"
           value="{{ address }}">

    <div class="invalid-feedback">
        {% for error in form.address.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Subnet field #}
<div class="form-group">
    <label for="subnet">Subnet</label>
    <select name="subnet"
            class="form-control {% if form.subnet.errors %} is-invalid {% endif %}"
            id="subnet">
        <option>--- Seleccione una opción ---</option>
        {% for subnet in subnets %}
            <option value="{{ subnet.pk }}" {% if subnet.pk|slugify == old_subnet|slugify %}
                    selected {% endif %}>
                {{ subnet.subnet }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.subnet.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Device field #}
<div class="form-group">
    <label for="device">Dispositivo</label>
    <select name="device"
            class="form-control {% if form.device.errors %} is-invalid {% endif %}"
            id="device">
        <option>--- Seleccione una opción ---</option>
        {% for device in devices %}
            <option value="{{ device.pk }}" {% if device.pk|slugify == old_device|slugify %}
                    selected {% endif %}>
                {{ device.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.device.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# State field #}
<div class="form-group">
    <label for="state">Estado</label>
    <input type="text"
           class="form-control {% if form.state.errors %} is-invalid {% endif %}"
           name="state" placeholder="Estado" id="state"
           value="{{ state }}">

    <div class="invalid-feedback">
        {% for error in form.state.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>