{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de nodos</h4>

                {% include 'shared/_button-new.html' with btnText='Nuevo nodo' btnUrl='locations:node.store' %}

                {% include 'locations/nodes/partials/_filters.html' %}

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nodo</th>
                            <th>Cantón</th>
                            <th>Nivel</th>
                            <th>Fecha de Instalación</th>
                            <th>Dirección</th>
                            <th>Coordenadas</th>
                            <th>Nombre de contacto</th>
                            <th>Teléfono de contacto</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for node in nodes %}
                            <tr>
                                <td>{{ node.name }}</td>
                                <td>{{ node.canton.name }}</td>
                                <td>{{ node.level }}</td>
                                <td>{{ node.installed_at }}</td>
                                <td>{{ node.address }}</td>
                                <td>{{ node.coordinates }}</td>
                                <td>{{ node.contact_name }}</td>
                                <td>{{ node.contact_phone }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-sm dropdown-toggle"
                                                type="button"
                                                id="action-{{ node.name }}"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="mdi mdi-login-variant icon-btn-sm"></i> Acción
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="action-{{ node.name }}">
                                            <a class="dropdown-item btn-edit"
                                               href="{% url 'locations:node.update' pk=node.id %}">
                                                <i class="mdi mdi-pencil"></i> Editar
                                            </a>

                                            <a class="dropdown-item btn-eliminar"
                                               href="{% url 'locations:node.delete' pk=node.id %}">
                                                <i class="mdi mdi-delete-forever"></i> Eliminar
                                            </a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% include 'shared/_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/delete.js' %}"></script>
{% endblock %}
