{% load static %}

<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0 bg-dark">
        <div class="container">

            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/"><img src="{% static 'img/ipam.svg' %}" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="/"><img src="{% static 'img/ipam.svg' %}" alt="logo"/></a>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end text-white">
                <h3 class="mt-md-2 ml-md-2 d-flex justify-content-start">IPAM</h3>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="{% static 'img/default/user.png' %}" alt="profile"/>
                            <span class="nav-profile-name text-white">{{ request.user.username }}</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                             aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="{% url 'security:logout' %}">
                                <i class="mdi mdi-logout text-secondary"></i>
                                Cerrar sesión
                            </a>
                        </div>
                    </li>
                </ul>

                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="horizontal-menu-toggle">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </div>
    </nav>

    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
                        <span class="menu-title">Inicio</span>
                    </a>
                </li>

                {% include 'layout/partials/navitems/_location.html' %}

                {% include 'layout/partials/navitems/_rack.html' %}

                {% include 'layout/partials/navitems/_device.html' %}

                {% include 'layout/partials/navitems/_address.html' %}
            </ul>
        </div>
    </nav>
</div>
