<li class="nav-item mega-menu">
    <a href="#" class="nav-link">
        <i class="mdi mdi-access-point menu-icon"></i>
        <span class="menu-title">Address</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="submenu">
        <div class="col-group-wrapper row">
            <div class="col-group col-md-4">
                <p class="category-heading">Address</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'networks:address.index' %}">
                                        Address
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group col-md-4">
                <p class="category-heading">Subnet</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'networks:subnet.index' %}">
                                        Subnet
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'networks:subnet_group.index' %}">
                                        Grupo subnet
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group col-md-4">
                <p class="category-heading">Vlan</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'networks:vlan.index' %}">
                                        Vlan
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'networks:vlan_group.index' %}">
                                        Grupo Vlan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>