<li class="nav-item mega-menu">
    <a href="#" class="nav-link">
        <i class="mdi mdi-router-wireless menu-icon"></i>
        <span class="menu-title">Dispositivo</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="submenu">
        <div class="col-group-wrapper row">
            <div class="col-group col-md-6">
                <p class="category-heading">Dispositivo</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'devices:device.index' %}">
                                        Dispositivo
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'devices:type.index' %}">
                                        Tipo dispositivo
                                    </a>
                                </li>

{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="/">#}
{#                                        Detalle#}
{#                                    </a>#}
{#                                </li>#}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group col-md-6">
                <p class="category-heading">Otros</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'devices:technology.index' %}">
                                        Tecnología
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'devices:model.index' %}">
                                        Modelo
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>