<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="mdi mdi-earth menu-icon"></i>
        <span class="menu-title">Ubicación</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="submenu">
        <ul class="submenu-item">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'locations:province.index' %}">
                    Provincia
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'locations:canton.index' %}">
                    Cantón
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'locations:node.index' %}">
                    Nodo
                </a>
            </li>
        </ul>
    </div>
</li>
