<li class="nav-item mega-menu">
    <a href="#" class="nav-link">
        <i class="mdi mdi-server menu-icon"></i>
        <span class="menu-title">Rack</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="submenu">
        <div class="col-group-wrapper row">
            <div class="col-group col-md-4">
                <p class="category-heading">Racks</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'racks:rack.index' %}">
                                        Rack
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'racks:type.index' %}">
                                        Tipo rack
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group col-md-4">
                <p class="category-heading">Respaldo eléctico</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'racks:inverter.index' %}">
                                        Inversor
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'racks:battery.index' %}">
                                        Batería
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group col-md-4">
                <p class="category-heading">Otros</p>
                <div class="submenu-item">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'racks:brand.index' %}">
                                        Marca
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'racks:model.index' %}">
                                        Modelo
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>