{# Vlan-Id field #}
<div class="form-group">
    <label for="vlan_id">Vlan ID</label>
    <input type="text"
           class="form-control {% if form.vlan_id.errors %} is-invalid {% endif %}"
           name="vlan_id" placeholder="Vlan ID" id="vlan_id"
           value="{{ vlan_id }}">

    <div class="invalid-feedback">
        {% for error in form.vlan_id.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Name field #}
<div class="form-group">
    <label for="name">Nombre de la Vlan</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Nombre" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Vlan Group field #}
<div class="form-group">
    <label for="vlan_group">Grupo Vlan</label>
    <select name="vlan_group"
            class="form-control {% if form.vlan_group.errors %} is-invalid {% endif %}"
            id="vlan_group">
        <option>--- Seleccione una opción ---</option>
        {% for vlan_group in vlan_groups %}
            <option value="{{ vlan_group.pk }}" {% if vlan_group.pk|slugify == old_vlan_group|slugify %}
                    selected {% endif %}>
                {{ vlan_group.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.vlan_group.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Device field #}
<div class="form-group">
    <label for="device">Dispositivo</label>
    <select name="device"
            class="form-control {% if form.device.errors %} is-invalid {% endif %}"
            id="device">
        <option>--- Seleccione una opción ---</option>
        {% for device in devices %}
            <option value="{{ device.pk }}" {% if device.pk|slugify == old_device|slugify %}
                    selected {% endif %}>
                {{ device.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.device.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Description field #}
<div class="form-group">
    <label for="description">Descripción</label>
    <input type="text"
           class="form-control {% if form.description.errors %} is-invalid {% endif %}"
           name="description" placeholder="Descripción" id="description"
           value="{{ description }}">

    <div class="invalid-feedback">
        {% for error in form.description.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>