{# Name field #}
<div class="form-group">
    <label for="name">Provincia</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Provincia" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Code field #}
<div class="form-group">
    <label for="code">Código</label>
    <input type="text"
           class="form-control {% if form.code.errors %} is-invalid {% endif %}"
           name="code" placeholder="Código" id="code"
           value="{{ code }}">

    <div class="invalid-feedback">
        {% for error in form.code.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>