{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de inversores</h4>

                {% include 'shared/_button-new.html' with btnText='Nuevo inversor' btnUrl='racks:inverter.store' %}

                {% include 'racks/inverters/partials/_filters.html' %}

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nodo</th>
                            <th>Marca</th>
                            <th>Inversor</th>
                            <th>Fecha de instalación</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inverter in inverters %}
                            <tr>
                                <td>{{ inverter.node.name }}</td>
                                <td>{{ inverter.brand.maker }}</td>
                                <td>{{ inverter.name }}</td>
                                <td>{{ inverter.installed_at }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-sm dropdown-toggle"
                                                type="button"
                                                id="action-{{ inverter.name }}"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="mdi mdi-login-variant icon-btn-sm"></i> Acción
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="action-{{ inverter.name }}">
                                            <a class="dropdown-item btn-edit"
                                               href="{% url 'racks:inverter.update' pk=inverter.id %}">
                                                <i class="mdi mdi-pencil"></i> Editar
                                            </a>

                                            <a class="dropdown-item btn-eliminar"
                                               href="{% url 'racks:inverter.delete' pk=inverter.id %}">
                                                <i class="mdi mdi-delete-forever"></i> Eliminar
                                            </a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% include 'shared/_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/delete.js' %}"></script>
{% endblock %}
