{# Name field #}
<div class="form-group">
    <label for="name">Tipo de dispositivo</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Tipo de dispositivo" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Description field #}
<div class="form-group">
    <label for="description">Descripción</label>
    <input type="text"
           class="form-control {% if form.description.errors %} is-invalid {% endif %}"
           name="description" placeholder="Descripción" id="description"
           value="{{ description }}">

    <div class="invalid-feedback">
        {% for error in form.description.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>