{# Name field #}
<div class="form-group">
    <label for="name">Tecnología</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Tecnología" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>

{# Maker field #}
<div class="form-group">
    <label for="maker">Fabricante</label>
    <input type="text"
           class="form-control {% if form.maker.errors %} is-invalid {% endif %}"
           name="maker" placeholder="Fabricante" id="maker"
           value="{{ maker }}">

    <div class="invalid-feedback">
        {% for error in form.maker.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
