{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}

                    {% include 'networks/subnets/partials/_form.html' %}

                    <button type="submit" class="btn btn-primary btn-block mt-5">Guardar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}