{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-12 col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Ubicación</h4>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'locations:province.index' %}">
                        Provincias
                    </a>
                </h5>
                <p>Provincias o estados del Ecuador</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'locations:canton.index' %}">
                        Cantónes
                    </a>
                </h5>
                <p>Pertenecen a las provincias</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'locations:node.index' %}">
                        Nodos
                    </a>
                </h5>
                <p>Localización de un equipo repetidor de señal</p>
                <hr>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Dispositivo</h4>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'devices:device.index' %}">
                        Dispositivo
                    </a>
                </h5>
                <p>Equipo electrónico administrable</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'devices:type.index' %}">
                        Tipo de dispositivo
                    </a>
                </h5>
                <p>Define el tipo de dispositivo</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'devices:technology.index' %}">
                        Tecnología
                    </a>
                </h5>
                <p>Define la tecnología de un dispositivo</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'devices:model.index' %}">
                        Modelo
                    </a>
                </h5>
                <p>Define el modelo de un dispositivo</p>
                <hr>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rack</h4>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'racks:rack.index' %}">
                        Rack
                    </a>
                </h5>
                <p>Estructura que permite albergar un dispositivo</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'racks:type.index' %}">
                        Tipo de rack
                    </a>
                </h5>
                <p>Define el tipo de la estructura</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'racks:inverter.index' %}">
                        Inversor
                    </a>
                </h5>
                <p>Dispositivo electrónico que convierte un determinado voltaje</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'racks:battery.index' %}">
                        Batería
                    </a>
                </h5>
                <p>Aparato que permite almacenar y distribuir energía</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'racks:brand.index' %}">
                        Marca
                    </a>
                </h5>
                <p>Marca y fabricante de la estructura</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'racks:model.index' %}">
                        Modelo
                    </a>
                </h5>
                <p>Patrón de diseño con mismas características</p>
                <hr>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Direcciones</h4>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'networks:address.index' %}">
                        Direcciones IP
                    </a>
                </h5>
                <p>Dirección de red</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'networks:subnet.index' %}">
                        Subnet
                    </a>
                </h5>
                <p>Subdivisión de una red</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'networks:subnet_group.index' %}">
                        Grupo de subnet
                    </a>
                </h5>
                <p>Se pueden relacionar por ciudad, servicion, etc...</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'networks:vlan.index' %}">
                        Vlan
                    </a>
                </h5>
                <p>Red de área local virtual</p>
                <hr>

                <h5>
                    <a class="text-black text-decoration-none" href="{% url 'networks:vlan_group.index' %}">
                        Grupo de vlan
                    </a>
                </h5>
                <p>Se pueden relacionar por ciudad, servicion, etc...</p>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}