<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            </li>
        {% endif %}
    </ul>
</nav>
