<div class="col-12 col-md-4">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" name="search" placeholder="Escriba aquí para buscar"
                   aria-label="Escriba aquí para buscar" value="{{ search }}">

            <div class="input-group-append">
                <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </div>
</div>