{# Name field #}
<div class="form-group">
    <label for="name">Cantón</label>
    <input type="text"
           class="form-control {% if form.name.errors %} is-invalid {% endif %}"
           name="name" placeholder="Cantón" id="name"
           value="{{ name }}">

    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# Province field #}
<div class="form-group">
    <label for="province">Provincia</label>
    <select name="province"
            class="form-control {% if form.province.errors %} is-invalid {% endif %}"
            id="province">
        <option>--- Seleccione una opción ---</option>
        {% for province in provinces %}
            <option value="{{ province.pk }}" {% if province.pk|slugify == old_province|slugify %}
                    selected {% endif %}>
                {{ province.name }}
            </option>
        {% endfor %}
    </select>

    <div class="invalid-feedback">
        {% for error in form.province.errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
</div>