{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información del dispositivo</h4>

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Modelo</th>
                            <th>Versión OS</th>
                            <th>Arquitectura</th>
                            <th>Uptime</th>
                            <th>CPU</th>
                            <th>Frecuencia CPU</th>
                            <th>Serie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for information in informations %}
                            <tr>
                                <td>{{ information.model }}</td>
                                <td>{{ information.os_version }}</td>
                                <td>{{ information.architecture }}</td>
                                <td>{{ information.uptime }}</td>
                                <td>{{ information.cpu }}</td>
                                <td>{{ information.cpu_frequency }}</td>
                                <td>{{ information.serie }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información de la interfaz</h4>

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>MTU</th>
                            <th>MAC</th>
                            <th>Link-Down</th>
                            <th>Link-Up</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for interface in interfaces %}
                            <tr>
                                <td>{{ interface.name }}</td>
                                <td>{{ interface.type }}</td>
                                <td>{{ interface.mtu }}</td>
                                <td>{{ interface.mac }}</td>
                                <td>{{ interface.ldown }}</td>
                                <td>{{ interface.lup }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información de la dirección ip</h4>

                <div class="grid-margin">
                    <form action="" method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <input type="text"
                                       class="form-control form-control-sm {% if form.address.errors %} is-invalid {% endif %}"
                                       placeholder="IP Address"
                                       name="address"
                                       aria-label="IP Address">

                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <input type="text"
                                       class="form-control form-control-sm {% if form.interface.errors %} is-invalid {% endif %}"
                                       placeholder="Interfaz"
                                       name="interface"
                                       aria-label="Interfaz">

                                <div class="invalid-feedback">
                                    {% for error in form.interface.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Añadir
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Address</th>
                            <th>Network</th>
                            <th>Interfaz</th>
                            <th>DHCP</th>
                            <th>Disable</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for address in addresses %}
                            <tr>
                                <td>{{ address.number }}</td>
                                <td>{{ address.address }}</td>
                                <td>{{ address.network }}</td>
                                <td>{{ address.interfaz }}</td>
                                <td>{{ address.dhcp }}</td>
                                <td>{{ address.state }}</td>
                                <td>
                                    <a class="text-decoration-none text-danger btn-eliminar"
                                       href="{% url 'devices:device.delete.address' pk=device.id num=address.number %}">
                                        <i class="mdi mdi-delete-forever icon-md" style="font-size: 1.3rem"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/delete.js' %}"></script>
{% endblock %}