{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de dispositivos</h4>

                {% include 'shared/_button-new.html' with btnText='Nuevo dispositivo' btnUrl='devices:device.store' %}

                {% include 'devices/devices/partials/_filters.html' %}

                <div class="col-12 my-3 text-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'devices:device.report.list' %}">
                        <strong>Imprimir reporte</strong>
                    </a>
                </div>
                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Dispositivo</th>
                            <th>Modelo</th>
                            <th>Tipo</th>
                            <th>Serie</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for device in devices %}
                            <tr>
                                <td>{{ device.name }}</td>
                                <td>{{ device.model.name }}</td>
                                <td>{{ device.device_type.name }}</td>
                                <td>{{ device.serie }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-sm dropdown-toggle"
                                                type="button"
                                                id="action-{{ device.name }}"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="mdi mdi-login-variant icon-btn-sm"></i> Acción
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="action-{{ device.name }}">
                                            <a class="dropdown-item btn-edit"
                                               href="{% url 'devices:device.update' pk=device.id %}">
                                                <i class="mdi mdi-pencil"></i> Editar
                                            </a>

                                            <a class="dropdown-item btn-eliminar"
                                               href="{% url 'devices:device.delete' pk=device.id %}">
                                                <i class="mdi mdi-delete-forever"></i> Eliminar
                                            </a>

                                            <a class="dropdown-item btn-show"
                                               href="{% url 'devices:device.show' pk=device.id %}">
                                                <i class="mdi mdi-eye"></i> Ver
                                            </a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% include 'shared/_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/delete.js' %}"></script>
{% endblock %}
