{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    <div class="col-12 grid-margin text-right">
        <a class="btn btn-sm btn-outline-primary" href="{% url 'devices:device.add.address' pk=device.id %}">
            <i class="mdi mdi-pencil" style="font-size: 0.8rem;"></i> Editar
        </a>

        <a class="btn btn-primary btn-sm" href="{% url 'devices:device.report.detail' pk=device.id %}">
            <i class="mdi mdi-printer" style="font-size: 0.8rem;"></i> Imprimir reporte
        </a>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información del dispositivo</h4>

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Modelo</th>
                            <th>Versión OS</th>
                            <th>Arquitectura</th>
                            <th>Uptime</th>
                            <th>CPU</th>
                            <th>Frecuencia CPU</th>
                            <th>Serie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for information in informations %}
                            <tr>
                                <td>{{ information.model }}</td>
                                <td>{{ information.os_version }}</td>
                                <td>{{ information.architecture }}</td>
                                <td>{{ information.uptime }}</td>
                                <td>{{ information.cpu }}</td>
                                <td>{{ information.cpu_frequency }}</td>
                                <td>{{ information.serie }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información de la interfaz</h4>

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>MTU</th>
                            <th>MAC</th>
                            <th>Link-Down</th>
                            <th>Link-Up</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for interface in interfaces %}
                            <tr>
                                <td>{{ interface.name }}</td>
                                <td>{{ interface.type }}</td>
                                <td>{{ interface.mtu }}</td>
                                <td>{{ interface.mac }}</td>
                                <td>{{ interface.ldown }}</td>
                                <td>{{ interface.lup }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información de la dirección ip</h4>

                <div class="table-responsive text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Address</th>
                            <th>Network</th>
                            <th>Interfaz</th>
                            <th>DHCP</th>
                            <th>Disable</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for address in addresses %}
                            <tr>
                                <td>{{ address.number }}</td>
                                <td>{{ address.address }}</td>
                                <td>{{ address.network }}</td>
                                <td>{{ address.interfaz }}</td>
                                <td>{{ address.dhcp }}</td>
                                <td>{{ address.state }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}