<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }

        .mb-5 {
            margin-bottom: 3rem !important;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }

        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }

        .table tbody + tbody {
            border-top: 2px solid #000;
        }

        .table .table {
            background-color: #fff;
        }

        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>{{ title }} - {{ today | date:"d/m/Y" }}</h3>
        </div>

        <div class="list-group">
            <p>Usuario: {{ request.user.username }}</p>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Modelo</th>
                <th>Versión OS</th>
                <th>Arquitectura</th>
                <th>Uptime</th>
                <th>CPU</th>
                <th>Frecuencia CPU</th>
                <th>Serie</th>
            </tr>
            </thead>
            <tbody>
            {% for information in informations %}
                <tr>
                    <td>{{ information.model }}</td>
                    <td>{{ information.os_version }}</td>
                    <td>{{ information.architecture }}</td>
                    <td>{{ information.uptime }}</td>
                    <td>{{ information.cpu }}</td>
                    <td>{{ information.cpu_frequency }}</td>
                    <td>{{ information.serie }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br><br><br><br>

        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>MTU</th>
                <th>MAC</th>
                <th>Link-Down</th>
                <th>Link-Up</th>
            </tr>
            </thead>
            <tbody>
            {% for interface in interfaces %}
                <tr>
                    <td>{{ interface.name }}</td>
                    <td>{{ interface.type }}</td>
                    <td>{{ interface.mtu }}</td>
                    <td>{{ interface.mac }}</td>
                    <td>{{ interface.ldown }}</td>
                    <td>{{ interface.lup }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br><br><br><br>

        <table class="table mb-5">
            <thead>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Network</th>
                <th>Interfaz</th>
                <th>DHCP</th>
                <th>Disable</th>
            </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr>
                    <td>{{ address.number }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.network }}</td>
                    <td>{{ address.interfaz }}</td>
                    <td>{{ address.dhcp }}</td>
                    <td>{{ address.state }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>