<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>IPAM</title>

    {#  CSS Block  #}
    <link rel="stylesheet" href="{% static 'vendor/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}">

    {# Layout CSS #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {# Librerías CSS #}
    <link rel="stylesheet" href="{% static 'vendor/sweetalert2/sweetalert2.min.css' %}">

    {# Yield Block Content For Custom CSS #}
    {% block styles %}{% endblock %}

    {#  JS Block  #}
    <script src="{% static 'vendor/js-cookie/js-cookie.min.js' %}" defer></script>
    <script src="{% static 'vendor/axios/axios.min.js' %}" defer></script>
    <script src="{% static 'vendor/sweetalert2/sweetalert2.min.js' %}" defer></script>
</head>
<body>
<header>
    {% include 'layout/partials/_navbar.html' %}
</header>

{# Yield Block Content For Custom HTML #}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/layout.js' %}"></script>

{# Yield Block Content For Custom JS #}
{% block scripts %}{% endblock %}
</body>
</html>