<div class="row">
    <div class="col-12 col-md-6">
        {# Name field #}
        <div class="form-group">
            <label for="name">Nodo</label>
            <input type="text"
                   class="form-control {% if form.name.errors %} is-invalid {% endif %}"
                   name="name" placeholder="Nodo" id="name"
                   value="{{ name }}">

            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        {# Level field #}
        <div class="form-group">
            <label for="level">Nivel</label>
            <input type="text"
                   class="form-control {% if form.level.errors %} is-invalid {% endif %}"
                   name="level" placeholder="Nivel" id="level"
                   value="{{ level }}">

            <div class="invalid-feedback">
                {% for error in form.level.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {# Canton field #}
        <div class="form-group">
            <label for="canton">Cantón</label>
            <select name="canton"
                    class="form-control {% if form.canton.errors %} is-invalid {% endif %}"
                    id="canton">
                <option>--- Seleccione una opción ---</option>
                {% for canton in cantons %}
                    <option value="{{ canton.pk }}" {% if canton.pk|slugify == old_canton|slugify %}
                            selected {% endif %}>
                        {{ canton.name }}
                    </option>
                {% endfor %}
            </select>

            <div class="invalid-feedback">
                {% for error in form.canton.errors %}
                    {{ error }} <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        {# Installed_at field #}
        <div class="form-group">
            <label for="installed_at">Fecha de instalación</label>
            <input type="date"
                   class="form-control {% if form.installed_at.errors %} is-invalid {% endif %}"
                   name="installed_at" placeholder="Nodo" id="installed_at"
                   value="{{ installed_at }}">

            <div class="invalid-feedback">
                {% for error in form.installed_at.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {# Address field #}
        <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text"
                   class="form-control {% if form.address.errors %} is-invalid {% endif %}"
                   name="address" placeholder="Dirección" id="address"
                   value="{{ address }}">

            <div class="invalid-feedback">
                {% for error in form.address.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        {# Coordinates field #}
        <div class="form-group">
            <label for="coordinates">Coordenadas</label>
            <input type="text"
                   class="form-control {% if form.coordinates.errors %} is-invalid {% endif %}"
                   name="coordinates" placeholder="Coordenadas" id="coordinates"
                   value="{{ coordinates }}">

            <div class="invalid-feedback">
                {% for error in form.coordinates.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {# Contact_name field #}
        <div class="form-group">
            <label for="contact_name">Nombre de contacto</label>
            <input type="text"
                   class="form-control {% if form.contact_name.errors %} is-invalid {% endif %}"
                   name="contact_name" placeholder="Nombre de contacto" id="contact_name"
                   value="{{ contact_name }}">

            <div class="invalid-feedback">
                {% for error in form.contact_name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        {# Contact_phone field #}
        <div class="form-group">
            <label for="contact_phone">Número de contacto</label>
            <input type="text"
                   class="form-control {% if form.contact_phone.errors %} is-invalid {% endif %}"
                   name="contact_phone" placeholder="Número de contacto" id="contact_phone"
                   value="{{ contact_phone }}">

            <div class="invalid-feedback">
                {% for error in form.contact_phone.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
